body {
    font-family: "Roboto", sans-serif;
    color: rgb(21, 21, 21);
}

.logo {
    font-family: "raleway";
    font-weight: 700;
}

/*kolor tekstu do 'a' - header*/
a {
    color: rgb(21, 21, 21);
    text-decoration: none;
}

/*kolor tekstu a(kontakt) - header*/
a.kontakt1,
a.kontakt2 {
    color: rgb(117, 117, 117);
}

/*Elementy interaktywne*/
a.active,
a:hover {
    color: rgb(33, 150, 243);
}

/*Przyciski*/
button {
    color: rgb(21, 21, 21);
    background-color: rgb(245, 244, 250);
    border: none;
    cursor: pointer;
}

button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(33, 150, 243);
}

/*Logotyp header i footer*/
.part1 {
    color: rgb(33, 150, 243);
}

.part2 {
    color: black;
}

.part3 {
    color: rgb(255, 255, 255);
}

/*Kolory tekstu pod zdjięciami*/
h3 {
    color: rgb(21, 21, 21);
}

p {
    color: rgb(117, 117, 117);
}

/*Koloty footer*/
footer {
    background-color: rgb(47, 48, 58);
}

.adres {
    color: rgb(255, 255, 255);
}

.adres a {
    color: rgb(255, 255, 255);
    opacity: 0.6;
}

.adres a:hover {
    color: rgb(33, 150, 243);
}

/*agencja*/
.first {
    background-color: rgb(47, 48, 58);
    color: rgb(255, 255, 255);
}

ul {
    list-style-type: none;
}