body {
    font-family: "Roboto", sans-serif;
}

a {
    color: rgb(21, 21, 21);
    text-decoration: none;
}

a.kontakt1, a.kontakt2 {
        color: rgb(117, 117, 117);
}
a.active, a:hover {
    color: rgb(33, 150, 243)
}

ul button {
    color: rgb(21, 21, 21);
    background-color: rgb(245, 244, 250);
    border: none;
    cursor: pointer;
}
ul button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(33, 150, 243);
} 

.logopart1 {
    color: rgb(33, 150, 243);
}
.logopart2 {
    color: black;
}
.logopart3 {
    color: rgb(255, 255, 255);
}

h3 {
    color: rgb(21, 21, 21)
}
p {
    color: rgb(117, 117, 117);
}
footer { 
    background-color: rgb(47, 48, 58);
}
.adres {
    color: rgb(255, 255, 255);
}
.adres a {
    color: rgb(255, 255, 255);
}
